@media only screen and (max-width: 840px){
    .container_menu{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 840px) {
    .menu .menu_li{
        margin-right: 15px;
    }
    menu {
        position: inherit;
        right: inherit;
    }
    .banner .container {
        display: block;
    }

}
