@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/cerapro-black-webfont.eot');
    src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-black-webfont.woff') format('woff'),
    url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium-webfont.eot');
    src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_probold';
    src: url('../fonts/cerapro-bold-webfont.eot');
    src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-bold-webfont.woff') format('woff'),
    url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
}
    .container{
        max-width: 1211px;
        margin: auto;
    }
    header{
        padding-top: 31px;
    }
    header nav, header nav li, header .logo{
        display: inline-block;
    }
    header ul{
        list-style: none;
    }
    header nav li a{
        text-decoration: none;
    }
    header .logo{
        margin-right: 229px;
    }
    header .login{
        margin-left: 330px;
        border-radius: 6px;
        width: 100px;
        height: 35px;
        background: #46a358;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        padding: 10px 17px;
        font-family: 'cera_promedium';
    }
    header nav li{
        margin-right: 50px;
    }
    header nav li:last-of-type{
        margin-right: 0px;
    }
    header nav li a{
        font-weight: 400;
        font-size: 16px;
        color: #3d3d3d;
        font-family: 'cera_proregular';
    }
    header nav li:after{
        height: 3px;
        /*background-color: #46a358;*/
        background-color: transparent;
        width: 100%;
        content: "";
        display: block;
        margin-top: 22px;
        transition: 0.3s;
    }
    header nav li:hover:after{
        background-color: #46a358;
    }
    .banner .container {
        background: linear-gradient(135deg, #f5f5f5 0%, #f5f5f5 100%);
        min-height: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
    }
        .banner p{
            font-weight: 400;
            font-size: 14px;
            line-height: 171%;
            color: #727272;
            margin-bottom: 44px;
            font-family: 'cera_proregular';
        }
    .banner article{
        max-width: 557px;
        display: inline-block;
        margin-right: 93px;
    }
    main a{
        border-radius: 6px;
        width: 140px;
        height: 40px;
        background: #46a358;
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        margin-bottom: 325px;
        margin-left: 68px;
        padding: 10px 17px;
        font-family: 'cera_probold';
    }
    main article h4{
        margin-left: 68px;
        margin-bottom: 43px;
        padding-bottom: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3d3d3d;
        font-family: 'cera_probold';
    }
    main article h1{
        font-weight: 900;
        font-size: 70px;
        line-height: 100%;
        text-transform: uppercase;
        color: #3d3d3d;
        margin-left: 68px;
        margin-bottom: 43px;
        width: 530px;
        height: 140px;
        font-family: 'cera_problack';
    }
    main article span{
        color: #46a358;
    }
    .text{
        margin-left: 68px;
        margin-bottom: 43px;
        padding-bottom: 5px;
    }
    .categories .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 171px;
    }
.categories .left_sidebar{
    max-width: 310px;
    min-height: 774px;
}
.categories .right_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    max-width: 840px;
    max-height: 1190px;
}
.categories .right_content .flex{
    display: flex;
    justify-content: center;
}
.categories .right_content .flex nav li{
    margin-right: 300px;
}
.categories .right_content article{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358
}
.categories .right_content nav li:after{
    background-color: transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 22px;
}
.categories .right_content article h4{
    width: 250px;
    height: 250px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
}
.categories right_content nav{
    font-weight: 700;
    font-size: 15px;
    line-height: 107%;
    color: #46a358;
}
.categories .right_content .flex nav li{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;

    font-family: 'cera_proregular';
    text-decoration: none;
}
